<!DOCTYPE html>
<html>
 <meta charset="utf-8">
    <head>
        <title>Поиск по HeadHunter</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">HeadHunter поиск</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="queryForm.html">Страница поиска</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="queryResult.html">Результаты поиска</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacts.html">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Поиск по  HeadHunter <span class="badge badge-secondary">Новый супер сервис!</span></h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <p>Для поиска по перейдите на страницу <a href="queryForm.html">поиска</a></p>
            </div>
        </div>
    </div>
</body>
</html>